/* 
* Provider dependency injections
* It uses component entry names defined in the SORCER provider
* as defined by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.service.*;
import junit.sorcer.core.context.model.par.*;
import sorcer.po.*;

sorcer.core.provider.ServiceProvider {
        /* service provider deployment properties */
		name = "ParModel Service";
		description = "The example ParModel net service.";
		location = "AFRL";
		publishedInterfaces = new Class[] { sorcer.service.Invocation.class, sorcer.service.Evaluation.class };
			
		// service beans	
		beans = new Object[] { junit.sorcer.core.context.model.par.ParModeler.getParModel() }; 
		
		iconName="sorcer.jpg";
}
	



