/*
 * Copyright to the original author or authors.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

sorcer.core.exertion.deployment {
    interfaces = new String[]{"sorcer.core.provider.ServiceExerter"};

    codebaseJars = new String[]{"av-prv-dl.jar",
                                "sorcer-dl.jar",
                                "jsk-dl.jar",
                                "provider-ui.jar",
                                "jcommon-1.0.17.jar"};

    implJars = new String[]{"sorcer/lib/sorcer-prv.jar",
                            "lib-dl/monitor-api-5.0-M4.jar",
                            "sorcer/lib/sorcer-env.jar",
                            "river/lib/serviceui.jar",
                            "eng/lib/av-prv.jar",
                            "common/jfreechart/jfreechart-1.0.14.jar",
                            "common/jfreechart/jcommon-1.0.17.jar",
                            "sorcer/lib/sorcer-vfe-lib.jar"};

    providerClass = "engineering.provider.av.AirVehicleProviderImpl";

    jvmArgs = "-Xcheck:jni";

    perNode = 1;

    opSys = new String[]{"Linux", "Mac"};

    arch = "x86_64";

    webster = "http://127.0.0.1:8080";
}
