import java.net.URL;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;
import sorcer.provider.boot.Booter;
import sorcer.provider.boot.SorcerDescriptorUtil;
import sorcer.provider.boot.SorcerServiceDescriptor;
	
com.sun.jini.start {
	home = "${iGrid.home}";
	policy = "${java.security.policy}";
	ps = System.getProperty("path.separator");
	
	// webster root directories
	sorcerLibPath 	= home + "${/}lib${/}sorcer${/}lib";
 	sorcerLibDlPath = home + "${/}lib${/}sorcer${/}lib-dl";
    jiniLibPath 	= home + "${/}lib${/}river${/}lib";
    jiniLibDLPath 	= home + "${/}lib${/}river${/}lib-dl";
    rioLibPath 		= home + "${/}lib${/}rio";
    deployPath 		= home + "${/}deploy";
    
    serviceDescriptors = new ServiceDescriptor[] {
    
        new SorcerServiceDescriptor(
            "sorcer-modeling-dl.jar sorcer-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}ju-invoker-beans.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}parmodel-prv.config" }),

		new SorcerServiceDescriptor(
            "sorcer-modeling-dl.jar sorcer-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}ju-invoker-beans.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}varparmodel-prv.config" }),

    };
}
