# Created by .gitignore support plugin (hsz.mobi)

### Java template
*.class
classes
logs/
databases/
reports/
build/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
atlassian-ide-plugin.xml
iGrid-dist*
toPush*.txt
junit*.properties
.metadata/
/.gradle/
/.git/
/.settings/
/settings.gradle
