# Created by .gitignore support plugin (hsz.mobi)

### Java template
*.class
classes
logs/
databases/
reports/
build/
docs/grammar/images
docs/grammar/sml.g.txt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

#IDE Files   
####################
#IntelliJ:
*.ipr
*.iml
*.iws

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
atlassian-ide-plugin.xml
distribution/sorcer-*
toPush*.txt
junit*.properties
.metadata/
/.gradle/
/.settings/
/.idea/
/.nb-gradle/

### Generated config files
bin/webster/websterConfig.groovy
/docs/grammar/images/
/docs/grammar/sml-grammar.html
/docs/grammar/sml.g.txt
.DS_Store
core/sorcer-int-tests/sorcer-tester/tmp/
docs/grammar/.DS_Store
docs/grammar/output/
sorcer-int-tests/
