/* 
* A SORCER Provider Jini configuration for the WhoIsIt Provider example.
*/
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.worker.provider.*;

sorcer.core.provider.ServiceExerter {
		name="Worker";
		publishedInterfaces = new Class[] { import sorcer.worker.provider.Worker.class };
		description = "SORCER Worker provider";
		location = "AFRL/WPAFB";
		args = new Entry[] {
			new Comment("Implements Worker interface with three operations"), 
			new Location("1", "222", "146-AFRL") };
			
        exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
        
        //application specific properties
        propertiesFile="configs/worker-prv.properties";
}
	

