/* 
* Provider dependency injections
* It uses component entry names defined in the SORCER provider
* as defined by sorcer.core.provider.SorcerProvider.
*/
import java.util.logging.*;
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import sorcer.worker.provider.*;
import sorcer.worker.provider.bean.*;

/**
 * Configuration for the Worker bean
 *
 * @author Mike Sobolewski
 */
sorcer.core.provider.ServiceExerter {
        /* service provider config properties */
		name = "Worker4 Bean";
		description = "Worker - bean provider";
		location = "AFRL/WPAFB";
		iconName = "sorcer.jpg";
		// propertiesFile = "provider.properties";

		spaceEnabled = true;
        // workerTransactional = true;
        // workerCount = 100;
		// monitorEnabled = true;

		// service beans	
		beanClasses = new Class[] { sorcer.worker.provider.impl.WorkerBean.class };

		publishedInterfaces = new Class[] { sorcer.worker.provider.Worker.class };

}
	



