/* 
* A SORCER Provider Jini configuration for the WhoIsIt Provider example.
*/
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.ex1.provider.*;

sorcer.core.provider.ServiceProvider {
		name="Worker2";
		publishedInterfaces = new Class[] { sorcer.ex2.provider.Worker.class };
		description = "SORCER Worker provider";
		location = "AFRL/WPAFB";
		entries = new Entry[] { 
			new Comment("Implements Worker interface with three operations"), 
			new Location("1", "218", "146-AFRL") };
			
        exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
        
        spaceEnabled = true;
        
        //application specific properties
        properties="../configs/worker-prv.properties";
}
	

