/* 
* A SORCER Provider Jini configuration for the WhoIsIt Provider example.
*/
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.worker.provider.*;

sorcer.core.provider.ServiceExerter {
		name = "Worker1";
		publishedInterfaces = new Class[] { sorcer.worker.provider.Worker.class };
		description = "SORCER Worker provider";
		location = "AFRL/WPAFB";
		args = new Entry[] {
			new Comment("Implements Worker interface with three operations"), 
			new Location("1", "218", "146-AFRL") };
			
        exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
        
        spaceEnabled = true;
        matchInterfaceOnly = false;

        //application specific properties
        propertiesFile = "configs/worker-prv.properties";
        
        iconName="sorcer.jpg";
}
	

