import java.net.URL;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;
import sorcer.provider.boot.Booter;
import sorcer.provider.boot.SorcerDescriptorUtil;
import sorcer.provider.boot.SorcerServiceDescriptor;
	
com.sun.jini.start {
	home = "${sorcer.home}";
	policy = "${java.security.policy}";
	ps = System.getProperty("path.separator");

    
    serviceDescriptors = new ServiceDescriptor[] {
    
        new SorcerServiceDescriptor(
            "sorcer-modeling-dl.jar sorcer-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}invoker-beans.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}entmodel-prv.config" })
    };
}
