/* 
* Provider dependency injections
* It uses component entry names defined in the SORCER provider
* as defined by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.service.*;
import sorcer.cml.model.EntryModeler;

sorcer.core.provider.ServiceProvider {
        /* service provider deployment properties */
		name = "EntryModel Service";
		description = "The example EntryModel net service.";
		location = "AFRL";
		publishedInterfaces = new Class[] { sorcer.service.Invocation.class, sorcer.service.Evaluation.class };
			
		// service beans	
		beans = new Object[] { EntryModeler.getEntryModel() };
		
		iconName="sorcer.jpg";
}
	



