import java.net.URL;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;
import sorcer.provider.boot.Booter;
import sorcer.provider.boot.SorcerDescriptorUtil;
import sorcer.provider.boot.SorcerServiceDescriptor;
	
com.sun.jini.start {
	home = "${iGrid.home}";
	policy = "${java.security.policy}";
	
	// lib directories
	sorcerLibPath 	 = home + "${/}lib${/}sorcer${/}lib";
 	sorcerLibExtPath = home + "${/}lib${/}sorcer${/}lib-ext";
    
    serviceDescriptors = new ServiceDescriptor[] {

    	/* SORCER Webster, set to serve up root directories */
   		new SorcerServiceDescriptor("sorcer-dl.jar", 
   			policy,
			sorcerLibExtPath + "${/}webster.jar",
			"sorcer.tools.webster.Webster", 
 			new String[] { "..${/}configs${/}webster-prv.config" }),
 	
        new SorcerServiceDescriptor(
            "ex6-arithmetic-dl.jar sorcer-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}ex6-arithmetic-beans.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}adder-prv.config" }),

		new SorcerServiceDescriptor(
            "ex6-arithmetic-dl.jar sorcer-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}ex6-arithmetic-beans.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}multiplier-prv.config" }),

       new SorcerServiceDescriptor(
            "ex6-arithmetic-dl.jar sorcer-dl.jar jsk-dl.jar",
           policy,
            sorcerLibPath + "/ex6-arithmetic-beans.jar",
            "sorcer.core.provider.ServiceTasker",
           new String[] { "..${/}configs${/}divider-prv.config" }),

       new SorcerServiceDescriptor(
            "ex6-arithmetic-dl.jar sorcer-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}ex6-arithmetic-beans.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}subtractor-prv.config" }),
            
 		new SorcerServiceDescriptor(
            "ex6-arithmetic-dl.jar sorcer-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}ex6-arithmetic-beans.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}averager-prv.config" })  
 
    };
}
