/* 
* Provider dependency injections
* It uses component entry names defined in the SORCER provider
* as defined by sorcer.core.provider.SorcerProvider.
*/
import java.util.logging.*;
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import sorcer.arithmetic.tester.*;
import sorcer.arithmetic.tester.provider.impl.*;

sorcer.core.provider.ServiceExerter {
        /* service provider generic properties */
		name = "Adder";
		description = "Adder - bean provider";
		location = "AFRL/WPAFB";
		publishedInterfaces = new Class[] { sorcer.arithmetic.tester.provider.Adder.class };

		spaceEnabled = true;
		
		// remote logging
		remoteLogging=true;
		remoteLoggerManagerName="Logger";
		remoteLoggerLevel=Level.FINE;
		remoteLoggerName="remote.sorcer.arithmetic.tester.ArithmeticBeans";

		// local private logging available via by RemoteLogger
		remoteContextLogging = true;
		remoteProviderLogging = true;
		
		// persist and reuse service ID
		providerIdPersistent = false;
		
		// enable monitoring
		// monitorEnabled = true;
		
		// service beans	
		beanClasses = new Class[] { sorcer.arithmetic.tester.provider.impl.AdderImpl.class };
		
		iconName="sorcer.jpg";
}
	

sorcer.core.exertion.deployment {
    interfaces = new String[]{"sorcer.arithmetic.tester.provider.Adder"};
    codebaseJars = new String[]{"org/sorcer/sorcer-tester/${sorcer.version}/sorcer-tester-${sorcer.version}-dl.jar"};
    implJars = new String[]{"org/sorcer/sorcer-tester/${sorcer.version}/sorcer-tester-${sorcer.version}.jar"};
}



