/* 
* Provider dependency injections
* It uses component entry names defined in the SORCER provider
* as defined by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import sorcer.arithmetic.provider.*;
import sorcer.arithmetic.tester.provider.impl.*;

sorcer.core.provider.ServiceExerter {
        /* service provider generic properties */
		name = "Subtractor";
		description = "Subtractor - bean provider";
		location = "AFRL/WPAFB";
		publishedInterfaces = new Class[] { sorcer.arithmetic.tester.provider.Subtractor.class };
		
		spaceEnabled = true;
		
		// persist and reuse service ID
		providerIdPersistent = false;
		
		// service beans	
		beanClasses = new Class[] { sorcer.arithmetic.tester.provider.impl.SubtractorImpl.class };
		
		iconName="sorcer.jpg";
}

sorcer.core.exertion.deployment {
    interfaces = new String[]{"sorcer.arithmetic.tester.provider.Subtractor"};
    codebaseJars = new String[]{"org/sorcer/sorcer-tester/${sorcer.version}/sorcer-tester-${sorcer.version}-dl.jar"};
    implJars = new String[]{"org/sorcer/sorcer-tester/${sorcer.version}/sorcer-tester-${sorcer.version}.jar"};
}







