/* 
* Provider dependency injections
* It uses component entry names defined in the SORCER provider
* as defined by sorcer.core.provider.SorcerProvider.
*/
import java.util.logging.*;
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import sorcer.arithmetic.provider.*;

sorcer.core.provider.ServiceExerter {
        /* service provider generic properties */
		name = "Averager";
		description = "Adder - bean provider";
		location = "AFRL/WPAFB";
		publishedInterfaces = new Class[] { sorcer.arithmetic.provider.Averager.class };

		spaceEnabled = true;
		
		// remote logging
		remoteLogging=true;

		// persist and reuse service ID
		providerIdPersistent = false;
		
		// enable monitoring
		// monitorEnabled = true;
		
		// service beans	
		beanClasses = new Class[] { sorcer.arithmetic.provider.impl.AveragerImpl.class }; 
		
		iconName="sorcer.jpg";
}
	



