/* 
* Provider dependency injections
* It uses component entry names defined in the SORCER provider
* as defined by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import sorcer.core.provider.ui.*;
import sorcer.arithmetic.*;

sorcer.core.provider.ServiceExerter {
        /* service provider deployment properties */
		name = "Arithmetic2";
		description = "Arithmetic beans provider";
		location = "AFRL/WPAFB";
		publishedInterfaces = new Class[] { 
			sorcer.arithmetic.provider.Adder.class,
			sorcer.arithmetic.provider.Multiplier.class,
			sorcer.arithmetic.provider.Subtractor.class,
			sorcer.arithmetic.provider.Divider.class };
			
		// add service UI
		//args = new Entry[] { ArithmeticUI.getUIDescriptor(),
			//new Comment("It uses sorcer.arithmetic.Arithmometer for bean implementation") };

		spaceEnabled = false;

		// remote logging
        remoteLogging=true;

		
		// persist and reuse service ID
		providerIdPersistent = false;
		
			// service beans	
		beanClasses = new Class[] { sorcer.arithmetic.provider.AdderImpl.class, 
			sorcer.arithmetic.provider.impl.SubtractorImpl.class, 
			sorcer.arithmetic.provider.impl.MultiplierImpl.class, 
			sorcer.arithmetic.provider.impl.DividerImpl.class }; 
		
		iconName="sorcer.jpg";
}
	



