/* 
* Provider dependency injections
* It uses component entry names defined in the SORCER provider
* as defined by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.*;
import sorcer.service.*;
import sorcer.arithmetic.provider.impl.ArithmeticUtil;

sorcer.core.provider.ServiceExerter {
        /* service provider deployment properties */
		name = "Add Contexter";
		description = "Provides the context for arithmetic operations";
		location = "AFRL/WPAFB";
		publishedInterfaces = new Class[] { sorcer.service.Contextion.class };
			
		// service beans	
		beans = new Object[] { sorcer.arithmetic.provider.impl.ArithmeticUtil.createContext() }; 
		
		iconName="sorcer.jpg";

		// remote logging
        remoteLogging=true;
        		
}
	



