/* 
* Provider dependency injections
* It uses component entry names defined in the SORCER provider
* as defined by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.service.*;
import sorcer.arithmetic.provider.impl.ArithmeticUtil;

sorcer.core.provider.ServiceExerter {
        /* service provider deployment properties */
		name = "Arithmetic Exerter";
		description = "Exert an Arithmetic Exerter bean as a job";
		location = "AFRL/WPAFB";
		publishedInterfaces = new Class[] { sorcer.service.Exertion.class,
		    sorcer.service.Invocation.class,
            sorcer.service.Evaluation.class };
			
		// service beans	
		beans = new Object[] { sorcer.arithmetic.provider.impl.ArithmeticUtil.createLocalJob() };
		// beans = new Object[] { sorcer.arithmetic.provider.impl.ArithmeticUtil.createJob() };

		iconName="sorcer.jpg";

		// remote logging
        remoteLogging=true;

}
	



