/* 
* Provider dependency injections
* It uses component entry names defined in the SORCER provider
* as defined by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import sorcer.core.provider.ui.*;
import sorcer.arithmetic.provider.*;

sorcer.core.provider.ServiceProvider {
        /* service provider deployment properties */
		name = "Multiplier1";
		description = "Multiplier - bean provider";
		location = "AFRL/WPAFB";
		publishedInterfaces = new Class[] { sorcer.arithmetic.provider.impl.Multiplier.class };
		
		// add service UI
		//args = new Entry[] { ArithmeticUI.getUIDescriptor(),
			//new Comment("It uses sorcer.arithmetic.Arithmometer for bean implementation") };

		spaceEnabled = true;

		// remote logging
		remoteLogging=true;
		
		// persist and reuse service ID
		providerIdPersistent = false;
		
		// service beans	
		beanClasses = new Class[] { sorcer.arithmetic.provider.MultiplierImpl.class }; 
		
		iconName="sorcer.jpg";
}
	



