import java.net.URL;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;
import sorcer.provider.boot.Booter;
import sorcer.provider.boot.SorcerDescriptorUtil;
import sorcer.provider.boot.SorcerServiceDescriptor;
	
com.sun.jini.start {
	home = "${iGrid.home}";
	policy = "${java.security.policy}";
	ps = System.getProperty("path.separator");
	
	// webster root directories
	sorcerLibPath 	= home + "${/}lib${/}sorcer${/}lib";
 	sorcerLibDlPath = home + "${/}lib${/}sorcer${/}lib-dl";
    jiniLibPath 	= home + "${/}lib${/}river${/}lib";
    jiniLibDLPath 	= home + "${/}lib${/}river${/}lib-dl";
    rioLibPath 		= home + "${/}lib${/}rio";
    deployPath 		= home + "${/}deploy";
    
    serviceDescriptors = new ServiceDescriptor[] {
    
        new SorcerServiceDescriptor(
            "ex6-arithmetic-dl.jar sorcer-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}ex6-arithmetic-beans.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}adder-prv.config" }),

		new SorcerServiceDescriptor(
            "ex6-arithmetic-dl.jar sorcer-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}ex6-arithmetic-beans.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}multiplier-prv.config" }),

       new SorcerServiceDescriptor(
            "ex6-arithmetic-dl.jar sorcer-dl.jar jsk-dl.jar",
           policy,
            sorcerLibPath + "${/}ex6-arithmetic-beans.jar",
            "sorcer.core.provider.ServiceTasker",
           new String[] { "..${/}configs${/}divider-prv.config" }),

        new SorcerServiceDescriptor(
            "ex6-arithmetic-dl.jar sorcer-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}ex6-arithmetic-beans.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}subtractor-prv.config" }),
            
        new SorcerServiceDescriptor(
            "ex6-arithmetic-dl.jar sorcer-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}ex6-arithmetic-beans.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}averager-prv.config" }),
 /*     
        new SorcerServiceDescriptor(
            "ex6-arithmetic-dl.jar sorcer-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}ex6-arithmetic-beans.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}arithmetic-prv.config" }),
 */
    };
}
