import java.net.URL;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;
//import sorcer.provider.boot.Booter;
import sorcer.provider.boot.SorcerDescriptorUtil;
import sorcer.provider.boot.SorcerServiceDescriptor;
	
com.sun.jini.start {
	home = "${sorcer.home}";
	policy = "${java.security.policy}";
	ps = System.getProperty("path.separator");

    localRepoPath   = "${local.repo.path}";
   	buildLibPath 	= "${project.build.dir}/libs";
   	configPath      = "${project.build.dir}/../configs"; 

    serviceDescriptors = new ServiceDescriptor[] {
    
        new SorcerServiceDescriptor(
            localRepoPath+"/sml-${sorcer.version}-dl.jar sorcer-dl-${sorcer.version}.jar jsk-dl-${river.version}.jar",
            policy,
            buildLibPath + "/sml-${sorcer.version}.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { configPath+"/adder-prv.config" }),

		new SorcerServiceDescriptor(
            localRepoPath+"/sml-${sorcer.version}-dl.jar sorcer-dl-${sorcer.version}.jar jsk-dl-${river.version}.jar",
            policy,
            buildLibPath + "/sml-${sorcer.version}.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { configPath+"/multiplier-prv.config" }),

       new SorcerServiceDescriptor(
            localRepoPath+"/sml-${sorcer.version}-dl.jar sorcer-${sorcer.version}-dl.jar jsk-dl-${river.version}.jar",
           policy,
            buildLibPath + "/sml-${sorcer.version}.jar",
            "sorcer.core.provider.ServiceTasker",
           new String[] { configPath+"/divider-prv.config" }),

        new SorcerServiceDescriptor(
            localRepoPath+"/sml-${sorcer.version}-dl.jar sorcer-dl-${sorcer.version}.jar jsk-dl-${river.version}.jar",
            policy,
            buildLibPath + "/sml-${sorcer.version}.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { configPath+"/subtractor-prv.config" }),
            
        new SorcerServiceDescriptor(
            localRepoPath+"/sml-${sorcer.version}-dl.jar sorcer-dl-${sorcer.version}.jar jsk-dl-${river.version}.jar",
            policy,
            buildLibPath + "/sml-${sorcer.version}.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { configPath+"/averager-prv.config" }),
            
       new SorcerServiceDescriptor(
            localRepoPath+"/sml-${sorcer.version}-dl.jar sorcer-dl-${sorcer.version}.jar jsk-dl-${river.version}.jar",
            policy,
            buildLibPath + "/sml-${sorcer.version}.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { configPath+"/exertleter-prv.config" }),
            
  	   new SorcerServiceDescriptor(
            localRepoPath+"/sml-${sorcer.version}-dl.jar sorcer-dl-${sorcer.version}.jar jsk-dl-${river.version}.jar",
            policy,
            buildLibPath + "/sml-${sorcer.version}.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { configPath+"/contexter-prv.config" })
 /*     
        new SorcerServiceDescriptor(
            sml-${sorcer.version}-dl.jar sorcer-dl-${sorcer.version}.jar jsk-dl-${river.version}.jar",
            policy,
            buildLibPath + "/sml-${sorcer.version}.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { configPath+"/sml-prv.config" }),
 */
    };
}
