/* 
* Provider dependency injections
* It uses component entry names defined in the SORCER provider
* as defined by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import sorcer.core.provider.ui.*;
import sorcer.arithmetic.provider.*;

sorcer.core.provider.ServiceProvider {
        /* service provider deployment properties */
		name = "Subtractor1";
		description = "Subtractor - bean provider";
		location = "OTM2010";
		publishedInterfaces = new Class[] { sorcer.arithmetic.provider.Subtractor.class };
		
		// add service UI
		//entries = new Entry[] { ArithmeticUI.getUIDescriptor(),  
			//new Comment("It uses sorcer.arithmetic.Arithmometer for bean implementation") };

		spaceEnabled = false;
		
		// persist and reuse service ID
		providerIdPersistent = false;
		
		// service beans	
		beanClasses = new Class[] { sorcer.arithmetic.provider.SubtractorImpl.class }; 
		
		iconName="sorcer.jpg";
}
	



