import java.net.URL;
import sorcer.provider.boot.Booter;
import sorcer.util.Sorcer;

sorcer.tools.codeserver {

	sorcerLibPath = "${iGrid.home}${/}lib${/}sorcer${/}lib";
 	sorcerLibDlPath = "${iGrid.home}${/}lib${/}sorcer${/}lib-dl";
    jiniLibPath = "${iGrid.home}${/}lib${/}river${/}lib";
    jiniLibDLPath = "${iGrid.home}${/}lib${/}river${/}lib-dl";
    rioLibPath = "${iGrid.home}${/}lib${/}rio";
    engLibPath = "${iGrid.home}${/}lib${/}eng${/}lib";
    engLibDlPath = "${iGrid.home}${/}lib${/}eng${/}lib-dl";
    legacyLibPath = "${iGrid.home}${/}lib";   
    dataPath = "${iGrid.home}${/}data";
    deployPath = "${iGrid.home}${/}deploy";
    
    //provider.webster.port
	//websterPort = Booter.getWebsterPort(); 
	websterPort = 0;
	//provider.webster
	websterAddress = Booter.getWebsterInterface();
	startPort = Booter.getWebsterStartPort();
	endPort = Booter.getWebsterEndPort();
	isDaemon = false;
	
	roots = new String[] { engLibPath,
		engLibDlPath,
        sorcerLibPath,
        sorcerLibDlPath,
        jiniLibDLPath,
        rioLibPath,
        jiniLibPath,
        dataPath,
        deployPath,
        legacyLibPath };
        
	options = new String[] { "-port", "" + websterPort, 
		"-bindAddress", websterAddress, 
		"-startPort", "" + startPort, 
		"-endPort", "" + endPort, 
		"-isDaemon", "" + isDaemon,
		"-debug", "" + true };
}
