/* 
* Generic SORCER provider startup configuration file
*/
import java.net.URL;
import sorcer.provider.boot.Booter;
import sorcer.provider.boot.SorcerDescriptorUtil;
import com.sun.jini.start.ServiceDescriptor;
import sorcer.provider.boot.SorcerServiceDescriptor;

com.sun.jini.start {
  
	// webster root directories
	sorcerLibPath = "${iGrid.home}${/}lib${/}sorcer${/}lib";
 	sorcerLibDlPath = "${iGrid.home}${/}lib${/}sorcer${/}lib-dl";
    jiniLibPath = "${iGrid.home}${/}lib${/}river${/}lib";
    jiniLibDLPath = "${iGrid.home}${/}lib${/}river${/}lib-dl";
    rioLibPath = "${iGrid.home}${/}lib${/}rio";
    engLibPath = "${iGrid.home}${/}lib${/}eng";
    engLibDlPath = "${iGrid.home}${/}lib${/}eng${/}lib-dl";
    groovyPath = "${iGrid.home}${/}lib${/}common${/}groovy";
    deployPath = "${iGrid.home}${/}deploy";
    
	//port = Booter.getWebsterPort(); 
	port = 0;
	//address = Booter.getWebsterInterface();
	//startPort = Booter.getWebsterStartPort();
	//endPort = Booter.getWebsterEndPort();
	
	providerClasspath = "${sorcer.provider.classpath}";
	providerCodebaseJars = "${sorcer.provider.codebase.jars}";
	policy = "${java.security.policy}";
	implClass = "${sorcer.provider.impl}";
	providerConfig = new String[] { "${sorcer.provider.config}" };
    
    serviceDescriptors = new ServiceDescriptor[] {
        /* SORCER Webster, set to serve up root directories */
        // (String policy, int port, String[] roots, String address, int startPort, int endPort, boolean debug)
        SorcerDescriptorUtil.getWebster(policy, port,
                                         new String[] { sorcerLibPath,
                                         			    sorcerLibDlPath,
                                         			    jiniLibDLPath,
                                                        rioLibPath,
                                                        jiniLibPath,
                                                        engLibPath,
                                                        engLibDlPath,
                                                        groovyPath,
                                                        deployPath }),
    
       /* Provider descriptor */
       //String codebase, String policy, String classpath, String implClassName, String... serverConfigArgs)
       new SorcerServiceDescriptor(providerCodebaseJars, policy,
				providerClasspath, implClass, providerConfig)
    };
}//end com.sun.jini.start
