/* 
* Generic SORCER provider startup configuration file
*/
import com.sun.jini.config.ConfigUtil;
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;

com.sun.jini.start {
    private static codebase="${sorcer.provider.codebase}";
    private static classpath = "${sorcer.provider.classpath}";
    private static config = "${sorcer.provider.config}";
    private static impl = "${sorcer.provider.impl}";
    private static policy = "${java.security.policy}";

    static serviceDescriptors = new ServiceDescriptor[] {
        new NonActivatableServiceDescriptor(
            codebase, 
	    	policy,
            classpath,
            impl,
            new String[] { config }
        )
    };
}//end com.sun.jini.start
