import java.net.URL;
import sorcer.provider.boot.Booter;
import sorcer.util.Sorcer;

sorcer.tools.codeserver {
	home = "${sorcer.home}";
	libPath = home + "/lib";

	// webster root directories
 	jiniLibPath = libPath + "${/}river";
    sorcerLibPath = libPath + "${/}sorcer${/}lib";
    blitzLib = libPath + "${/}blitz";
    sorcerLibExtPath = libPath + "${/}sorcer${/}lib-ext";
    pathSeparator = File.pathSeparator;
    
 	sorcerLibDlPath  = libPath + "${/}sorcer${/}lib-dl";
    jiniLibDlPath    = libPath + "${/}river";
    rioLibDlPath 	 = libPath + "${/}rio${/}lib-dl";
    deployPath 		 = home + "${/}deploy";
    httpData 		 = home + "${/}data";
    
    //webster.port
	websterPort = Booter.getWebsterPort(); 
	//websterPort = 50001;
	//webster.interface
	websterAddress = Booter.getWebsterInterface();
	startPort = Booter.getWebsterStartPort();
	endPort = Booter.getWebsterEndPort();
	isDaemon = false;
	
	roots = new String[] { 
		sorcerLibPath,
        sorcerLibDlPath,
        jiniLibDlPath,
        rioLibDlPath,
        jiniLibPath,
        blitzLib,
        deployPath,
        httpData };
        
	options = new String[] { "-port", "" + websterPort, 
		"-bindAddress", websterAddress, 
		"-startPort", "" + startPort, 
		"-endPort", "" + endPort, 
		"-isDaemon", "" + isDaemon,
		"-debug", "" + true };
}
