import java.net.URL;
import sorcer.provider.boot.Booter;
import sorcer.util.Sorcer;

sorcer.tools.codeserver {
	home = "${iGrid.home}";

	sorcerLibPath 	 = home + "${/}lib${/}sorcer${/}lib";
 	sorcerLibDlPath  = home + "${/}lib${/}sorcer${/}lib-dl";
 	engLibDlPath     = home + "${/}lib${/}eng${/}lib-dl";
 	productLibDlPath = home + "${/}..${/}Products${/}lib${/}products${/}lib-dl";
    jiniLibPath 	 = home + "${/}lib${/}river${/}lib";
    jiniLibDlPath    = home + "${/}lib${/}river${/}lib-dl";
    rioLibDlPath 	 = home + "${/}rio${/}lib-dl";
    blitzLib		 = home + "${/}lib${/}common${/}blitz";
    otherLib		 = blitzLib + "${/}thirdpartylib";
    deployPath 		 = home + "${/}deploy";
    httpData 		 = home + "${/}data";
    jfreechartLib	 = home + "${/}lib${/}common${/}jfreechart";
    
    //webster.port
	websterPort = Booter.getWebsterPort(); 
	//websterPort = 50001;
	//webster.interface
	websterAddress = Booter.getWebsterInterface();
	startPort = Booter.getWebsterStartPort();
	endPort = Booter.getWebsterEndPort();
	isDaemon = false;
	
	roots = new String[] { 
		sorcerLibPath,
        sorcerLibDlPath,
        engLibDlPath,
        jiniLibDlPath,
        rioLibDlPath,
        jiniLibPath,
        blitzLib,
        deployPath,
        httpData,
        jfreechartLib,
        productLibDlPath };
        
	options = new String[] { "-port", "" + websterPort, 
		"-bindAddress", websterAddress, 
		"-startPort", "" + startPort, 
		"-endPort", "" + endPort, 
		"-isDaemon", "" + isDaemon,
		"-debug", "" + false };
}
