import java.net.URL;
import sorcer.provider.boot.Booter;
import sorcer.util.Sorcer;

sorcer.tools.codeserver {
	home = "${sorcer.home}";
	libPath = home + "/lib";

	// webster root directories
    sorcerLibPath   = libPath + "${/}sorcer${/}lib";
    sorcerLibDlPath = libPath + "${/}sorcer${/}lib-dl";
    jiniLibPath     = libPath + "${/}river";
    rioLibDlPath    = home + "${/}rio${/}lib-dl";
    blitzLib        = libPath + "${/}blitz";
    httpData 	    = home + "${/}data";
 //   m2Repo          = "${user.home}/.m2/repository";
 	m2Repo          = "/Volumes/SSSD/.m2/repository";

	websterPort = Booter.getWebsterPort(); 
	//websterPort = 50001;
	//webster.interface
	websterAddress = Booter.getWebsterInterface();
	startPort = Booter.getWebsterStartPort();
	endPort = Booter.getWebsterEndPort();
	isDaemon = false;
	
	roots = new String[] {sorcerLibPath,
                          sorcerLibDlPath,
                          jiniLibPath,
                          rioLibDlPath,
                          blitzLib,
                          m2Repo,
                          httpData };
        
	options = new String[] { "-port", "" + websterPort, 
		"-bindAddress", websterAddress, 
		"-startPort", "" + startPort, 
		"-endPort", "" + endPort, 
		"-isDaemon", "" + isDaemon,
		"-debug", "" + true };
}
